{% extends 'driver/base.html' %}

{% block content %}
<table class="table mt-3">
  <thead class="thead-dark">
    <tr>
      <th>会社名</th>
      <th>名前</th>
      <th>電話番号</th>
      <th>コース</th>
    </tr>
  </thead>
  <tbody>
    {% for driver in driver_list %}
    <tr>
      <td>{{ driver.company }}</td>
      <td><a href="{% url 'driver:detail' driver.pk %}">{{ driver.name }}</a></td>
      <td>{{ driver.phone }}</td>
      <td>{% for course in driver.course.all %}{{ course }}, {% endfor %}</td>  
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'driver/page.html' %}

{% endblock %}